body
{
    font-family: Arial, sans-serif;
}

input,
input[value='cards']:checked ~ main .description,
input[value='list']:checked ~ main .short-info,
input[value='cards']:checked ~ label[for='card-view'],
input[value='list']:checked ~ label[for='list-view']
{
    display: none;
}

main
{
    text-align: center;
}

.cat
{
    overflow: hidden;
    text-align: left;
    border-style: solid;
    border-color: rgb(196, 196, 196);
}

input[value='cards']:checked ~ main .cat
{
    display: inline-block;
    width: 250px;
    height: 350px;
    margin: 5px;
    border-width: 1px;
}

input[value='list']:checked ~ main .cat
{
    width: 50%;
    min-width: 200px;
    margin: auto;
    padding: 25px;
    border-width: 1px 1px 0;
}

input[value='list']:checked ~ main .cat:last-of-type
{
    border-bottom-width: 1px;
}

input[value='cards']:checked ~ main .cat:hover
{
    box-shadow: 0 0 6px #000;
}

.cat header
{
    width: 100%;
    overflow: hidden;
}

input[value='cards']:checked ~ main .cat header
{
    height: 160px;
}

input[value='cards']:checked ~ main .cat > :not(header)
{
    padding-left: 10px;
    padding-right: 10px;
}

.cat header img
{
    width: 100%;
}

.name
{
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 23px;
    font-weight: normal;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 20px;
}

.short-info,
.description
{
    font-size: 15px;
    color: rgb(73, 73, 73);
}

.short-info p:not(:last-of-type)
{
    margin: auto;
}

.description
{
    text-align: justify;
    hyphens: auto;
}
